
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.container {
    margin: 0px 50px; 
}
@media screen and (max-width:768px) {
    .container {
        margin: 0px 15px;
    }
}
a {
        text-decoration: none;
        color: inherit;
}
img {
    object-fit: cover;
    object-position: center;
}
/* HEADER ******************************************/


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  
}

.logo img {
    height: 60px;
}
@media only screen and (max-width: 768px) {
    header {
      margin: 0;
      padding: 0;
      flex-direction: column;
    }
    .logo {
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
  }

ul {  margin: 0;
    list-style-type: none;
    display: flex;
    font-weight: 500;
}
li a {
    padding: 55px;
}

#nav1:hover {
    border-top: #0065FC solid 3px;
    color: #0065FC;
    padding-top: 50px;
}

#nav2:hover {
    padding-top: 50px;
    border-top: #0065FC solid 3px;
    color: #0065FC;
}
@media screen and (max-width: 992px) {
    header {
        margin: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    nav {
        margin: 50px 0px;
        
    }
    ul {
        justify-content: space-between;
    }

    #nav1:hover {

        border-bottom: solid 3px blue;
        border-top: none;
      }
      #nav2:hover {
          border-bottom: solid 3px blue;
          border-top: none;
        }
    
    }
@media only screen and (max-width: 768px) {
    
    nav {
        margin: 0;
        padding: 0;
        width: 100%;
        
    }
    ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    
    }
    li a {
        padding: 0px;
        margin: 0px;
    }
    #nav1 {
        width: 50%;
    }
    #nav2 {
        width: 50%;
    }
    #nav1:hover {

      border-bottom: solid 3px blue;
      border-top: none;
    }
    #nav2:hover {
        border-bottom: solid 3px blue;
        border-top: none;
      }
  }

/* SECTION ***************************************/


.search h1 {
  
    font-weight: bold;
    font-size: 30px;
    line-height: 36.8px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.search p {
      display: flex;
    font-weight: 400;
  padding-top: 0;
  margin: 0;
}
@media screen and (max-width: 992px) {
    .search h1 {
        font-size: 28px;
        text-align: center;

    }
    .search p {
        justify-content: center;
    }
}
.searchbar {
    display: flex;
    margin-top: 15px;
    height: 50px;
}
.searchbar input {

    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    border: #F2F2F2 solid 2px;
  
}
.searchbar button {
   
    border-radius: 0px 20px 20px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border:#0065FC solid 2px;
    padding: 0 15px;
  

}
.button-mobile {
display: none;
}
@media screen and (max-width: 992px) {
    .searchbar {
        margin: 15px auto;
        justify-content: center;
    }
    
}
@media only screen and (max-width: 768px) {
    
    .search {
        padding: 0;
        margin-top: 20px;
    }
    .search h1 {
        margin: 10px 5px;

        line-height: 20px;
        padding: 0;
        font-size: 20px;
    }
    .search p {
        margin: 0px;
    }
    .searchbar {
        margin: 15px 0px;
        display: flex;
        justify-content: center;
    }
    .searchbar input {
       margin: 0px;
       z-index: 1;
    }
    .searchbar button {
        border-radius: 15px; 
        width: 50px;
        height: 50px;   position: relative;
        left: -15px;
    z-index: 2;
    }
    .button-desktop {
       display: none;
    }
    .button-mobile {
        display: flex !important;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
       
    
    }
}
.location-mark {
    border-radius: 20px 0px 0px 20px;
    min-width: 50px;
    color: black;
    background-color: #F2F2F2;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter {
    display: flex;
    margin-top: 30px;
    column-gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
}
.filters {
    display: flex;
    border:#F2F2F2 solid 3px;
    border-radius: 30px;
    position: relative;
    height: 50px;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}
.filters i {
    
    border-radius: 25px;
    position: absolute;
    left: -3px;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    width: 51px;
    height: 51px;
    font-size: 20px;
}
.filters p {
    padding-left: 55px;
    padding-right: 18px;
}

.money:hover {
background-color: #0065FC;
color: white;
border: #0065FC solid 3px;
}
.child:hover {
    background-color: #0065FC;
    color: white;
    border: #0065FC solid 3px;
    }
.heart:hover {
    background-color: #0065FC;
    color: white;
    border: #0065FC solid 3px;
        }
.dog:hover {
    background-color: #0065FC;
     color: white;
    border: #0065FC solid 3px;
            }
@media screen and (max-width: 992px) {
    .filter {
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    .location-mark {
        width: 40px;
        font-size: 16px;
    }

    .filter {
        display: flex;
       column-gap: 15px;
       font-size: 14px;
       align-items: flex-start;
        
    }
    .filters {
        height: 40px;

    }
    .filters p {
        width: 100%;
    }
    .filters i {
        height: 40px;
        width: 40px;
        font-size: 16px;
    }
}
#details {
    display: flex;
    align-items: center;
    padding: 30px 0px 20px 0px;
    column-gap: 10px;
}
#details i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    font-size: 14px;
}

#details p {
    font-weight: 400;
}

main {
    display: flex;
    padding: 0px 0px 20px 0px;
    gap: 30px;
     }
@media screen and (max-width: 992px) {
    main {
        gap: 0px;
    }
    #details {
        justify-content: center;
    }
    
}
@media only screen and (max-width: 768px) {
    #details {
        margin: 0;
        column-gap: 5px;
        align-items: start;
        white-space: pre-line;
    }
    #details i {
        align-content: flex-start;
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    main {
        flex-direction: column-reverse;
        margin: 0 !important;
        padding:0;
    }
   
}
/* Accommodation ************ARTICLE********************************************************************************************/

#hosting {
    position: relative;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

#hosting h2 {
 padding: 0px 0px 35px 40px;
}
.accommodation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 15px;
    gap: 35px;
    align-content:center;
}

.card-image {
   
    height: 160px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    
}


.accommodation-cards {
 background-color: white;
 border-radius: 20px;
 padding: 6px;
 width: 30%;
 -webkit-box-shadow: 5px 5px 9px 2px rgba(204,204,204,0.96); 
 box-shadow: 5px 5px 9px 2px rgba(204,204,204,0.96);
 cursor: pointer;
 transition: .3s;
}
.accommodation-cards:hover {
    background: rgba( 0, 101, 252, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 20px;
}
.accommodation-cards > * {
    flex-basis: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px 20px;
    height: auto;
    margin-top: 5px;
}
.info h2 {
    font-size: 16px;
    padding: 0;
    white-space: nowrap;
}
.info p {
    font-weight: 400;
    margin: 10px 0px;
}
.stars {
    color: #0065FC;
    margin-bottom: 10px;
}
.grey {
    color: #D8D8D8;
}
.boldy {
    font-weight: bolder;
}
#viewMore {
    font-size: 20px;
    margin: 70px 0px 30px  40px;
}
@media screen and (max-width: 992px) {
   
 
    .container {
        margin: 0px 15px;
    }
    .accommodation {
        flex-direction: column;
    }
    .accommodation-cards {
        width: 80%;
    }
    #hosting {
        background-color: #fff;
    }
}

@media only screen and (max-width: 768px){
    #hosting {
        border-radius: 0px;
        background-color: #fff;
    }
    .accommodation {
        flex:1;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .accommodation-cards {
 
        padding: 5px;
        gap: 0;
        width: 90%;
    }
    .card-image {
        height: 120px;
    }
    .info {
        padding: 5px 15px;
    }
    #viewMore {
        margin: 60px 0px 30px  20px;
    }
}
/* ACCOMMODATION***************ASIDE******************************************************************************************************/

aside {
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    padding-bottom: 25px;
}

aside h2 {
    margin: 50px 35px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-title i {
    margin-right: 35px;
    font-size: 24px;
}
.popular-cards {
    -webkit-box-shadow: 7px 6px 10px 0px #D8D8D8; 
    box-shadow: 7px 6px 10px 0px #D8D8D8;
    background-color: white;
    border-radius: 20px;
    padding: 6px;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 90%; 
    max-height: 210px;
    display: flex;
    cursor: pointer;
    transition: .3s;
    position: relative;
}
.popular-cards:hover {
    background: rgba( 0, 101, 252, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 20px;
}

.popular-cards .stars {
     position: absolute;
    bottom: -20px;
    padding: 20px;
}

.popular-images {
    height: 185px;
    width: 40%;
    border-radius: 20px 0px 0px 20px;
}

.popular-details {
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular-info {
    padding: 10px 0px 0px 20px;
    font-size: 16px;
    
}
.popular-info p {
    font-weight: 400;
    margin: 5px 0px 40px 0px;
}

@media screen and (max-width: 992px) {
    aside {
        border-radius: 0px;
        flex-direction: column;
    }
    .popular-title {
        justify-content: center;
    }
   .popular-details {
       align-items: center;
   }
    
    
}
@media only screen and (max-width: 768px){
    aside {
        border-radius: 0px;
        padding: 0;
        margin: 0;
        flex: 1;
    }
    .popular-cards {
        width: 90%;
        padding: 5px;
    }
    .popular-details {
        flex-basis: 100%;
    }
    .popular-images {
        height: 150px;
    }
    .popular-info h2 {
        font-weight: 600;
    }
 
    
}
/* ACTIVITIES***********************************************/

#event {
  margin-top: 40px;
  margin-bottom: 10px;

}
.activities {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
.activities-col {
width: 24%;
}
.twoblock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.oneblock  .image-card{
   
height: 500px;
}

.activity-cards {
    border-radius: 20px;
    -webkit-box-shadow: 7px 6px 10px 0px #D8D8D8; 
    box-shadow: 7px 6px 10px 0px #D8D8D8;
}
.card-title {
    padding: 20px;
    display: flex;
    align-items: center;
    height: 60px;
}

.image-card {
   width: 100%;
    height: 190px;
    border-radius: 20px 20px 0px 0px;
}
#first-pic {
    height: 250px;
}
#second-pic {
  
    height: 130px;
}
@media screen and (max-width: 992px) {

}
@media only screen and (max-width: 768px){
    #event {
        margin: 20px 15px;
    }
    .activities{
        flex-direction: column;
        gap:15px;
        justify-content: center;
        align-items: center;
    }
    .activities-col {
        width: 100%;
        margin: 0;
        padding: 0;
        height: auto;
    }
   .oneblock .image-card{
       height: 115px;
       width: 100%;
   }
   .twoblock {
       gap: 15px;
   }
   .image-card {
       height: 120px;
   }
   #first-pic {
       height: 120px;
   }
}
/* FOOTER ****************************************/
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin: 50px 0px 0px 0px;

    
}
.footer-col {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-right: 200px;
}
.footer-col:first-child {
    padding-left: 50px;
}
.footer-col h3 {
    margin-bottom: 20px;
}
.footer-col p {
    font-weight: 500;
    margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }
    .footer-col:first-child {
        padding-left: 30px;
    }
    .footer-col {
        margin: 0;
    }
    
}