
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
h3 {
    margin: 0;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.container {
    margin: 0px 50px; 
}

a {
        text-decoration: none;
        color: inherit;
}
img {
    object-fit: cover;
    object-position: center;
}
/* HEADER ************************************************************************************************************************************/


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin: 0px 50px;
  
}

.logo img {
    height: 60px;
}


ul {  
    margin: 0;
    list-style-type: none;
    display: flex;
    font-weight: 500;
    text-align: center;
}

.nav__link {
    padding: 55px;
}

.nav__link:hover {
    border-top: #0065FC solid 3px;
    color: #0065FC;
    padding-top: 50px;
}



/**** SEARCH & FILTERS ********SECTION-ONE*******************************************************************************************************************/


.search h1 {
  
    font-weight: bold;
    font-size: 30px;
    line-height: 36.8px;
    margin-bottom: 5px;
    margin-top: 20px;
}
.search p {
    display: flex;
    font-weight: 400;
    padding-top: 0;
    margin: 0;
}
.search__bar {
    display: flex;
    margin-top: 15px;
    height: 50px;
}
.search__bar__location {

    border-radius: 20px 0px 0px 20px;
    min-width: 50px;
    color: black;
    background-color: #F2F2F2;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search__bar input {

    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
    border: #F2F2F2 solid 2px; 
}
.search__bar button {
   
    border-radius: 0px 20px 20px 0px;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border:#0065FC solid 2px;
    padding: 0 15px;
  

}
.btn-mobile {

    display: none;
}

.filter {
    display: flex;
    margin-top: 30px;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
}
.filters-group {

    display: flex;
    justify-content: space-around;
    gap: 25px;
}
.filters {

    display: flex;
    border:#F2F2F2 solid 3px;
    border-radius: 30px;
    position: relative;
    height: 50px;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}
.filters i {
    
    border-radius: 25px;
    position: absolute;
    left: -3px;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    width: 51px;
    height: 51px;
    font-size: 20px;
}
.filters p {
    padding-left: 55px;
    padding-right: 18px;
}

.filters__money:hover {
    background-color: #0065FC;
    color: white;
    border: #0065FC solid 3px;
}
.filters__child:hover {
    background-color: #0065FC;
    color: white;
    border: #0065FC solid 3px;
    }
.filters__heart:hover {
    background-color: #0065FC;
    color: white;
    border: #0065FC solid 3px;
        }
.filters__dog:hover {
    background-color: #0065FC;
     color: white;
    border: #0065FC solid 3px;
            }

#details {
    display: flex;
    align-items: center;
    padding: 30px 0px 20px 0px;
    gap: 10px;
}
#details i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border: #F2F2F2 solid 2px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    font-size: 14px;
}

#details p {
    font-weight: 400;
}

main {
    display: flex;
    padding: 0px 0px 20px 0px;
    gap:35px;
     }

/* ACCOMODATION ************ARTICLE********************************************************************************************/

#accommodation {
    position: relative;
    background-color: #F2F2F2;
    border-radius: 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

#accommodation h2 {
    padding: 0px 0px 35px 40px;
}
.accommodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 15px;
    gap: 35px;
    align-content:center;
}
.accommodation-cards {
    background-color: white;
    border-radius: 20px;
    padding: 6px;
    width: 30%;
    min-width: 250px;
    -webkit-box-shadow: 5px 5px 9px 2px rgba(204,204,204,0.96); 
    box-shadow: 5px 5px 9px 2px rgba(204,204,204,0.96);
    cursor: pointer;
    transition: .3s;
}
.accommodation-cards:hover {
    background: rgba( 0, 101, 252, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 20px;
}
.accommodation-cards > * {
    flex-basis: 100%;
}

.accommodation__image {
   
    height: 160px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    
}
.accommodation__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px 20px;
    height: auto;
    margin-top: 5px;
}
.accommodation__info h2 {
    font-size: 16px;
    padding: 0;
    white-space: nowrap;
}
.accommodation__info p {
    font-weight: 400;
    margin: 10px 0px;
}
.stars {
    color: #0065FC;
    margin-bottom: 5px;
}
.grey {
    color: #D8D8D8;
}
.boldy {
    font-weight: bolder;
}
#viewMore {
    font-size: 20px;
    margin: 70px 0px 30px  40px;
}

/* ACCOMMODATION***************ASIDE******************************************************************************************************/

aside {
    flex: 1;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    padding-bottom: 25px;
}

aside h2 {
    margin: 50px 30px;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-title i {
    margin-right: 35px;
    font-size: 24px;
}
.popular-cards {
    -webkit-box-shadow: 7px 6px 10px 0px #D8D8D8; 
    box-shadow: 7px 6px 10px 0px #D8D8D8;
    background-color: white;
    border-radius: 20px;
    padding: 6px;
    margin: 0 auto;
    margin-bottom: 35px;
    width: 90%; 
    max-height: 210px;
    display: flex;
    cursor: pointer;
    transition: .3s;
    position: relative;
}
.popular-cards:hover {
    background: rgba( 0, 101, 252, 0.45 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 20px;
}

.popular-cards .stars {
     position: absolute;
    bottom: -20px;
    padding: 20px;
    margin-bottom: 10px;
}

.popular-images {
    height: 185px;
    width: 40%;
    border-radius: 20px 0px 0px 20px;
}

.popular-details {
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.popular-info {
    padding: 10px 0px 0px 20px;
    font-size: 16px;
    
}
.popular-info p {
    font-weight: 400;
    margin: 5px 0px 40px 0px;
}

/* ACTIVITIES*******************************************************************************************************************************/

#activity {
    margin-top: 40px;
    margin-bottom: 10px;
}
.activities {
    margin-top: 20px;
    display: flex;
    gap: 30px;
}
.activities-col {
    width: 24%;
}
.twoblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.oneblock  .activity-image{  
    height: 500px;
}

.activity-cards {
    border-radius: 20px;
    -webkit-box-shadow: 7px 6px 10px 0px #D8D8D8; 
    box-shadow: 7px 6px 10px 0px #D8D8D8;
}
.card-title {
    padding: 20px;
    display: flex;
    align-items: center;
    height: 60px;
}

.activity-image {
   width: 100%;
    height: 190px;
    border-radius: 20px 20px 0px 0px;
}
#first-pic {
    height: 250px;
}
#second-pic {
    height: 130px;
}

/* FOOTER *****************************************************************************************************************************************/
footer {
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    margin: 50px 0px 0px 0px;
}
.footer-col {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    margin-right: 250px;
}
.footer-col:first-child {
    padding-left: 50px;
}
.footer-col h3 {
    margin-bottom: 20px;
}
.footer-col p {
    font-weight: 500;
    margin-bottom: 10px;
}

/************************ TABLETS -screen under 992px- ********************************************************************************/
@media screen and (max-width:992px) {
    
    .container {
        margin: 0px 0px;
    }
    header {
        margin: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .nav {
        margin: 50px 0px;
        width: 100%;
    }
    ul {
 
        width: 100%;
    }
    li {
       width: 50%;
       padding-bottom: 30px;
       border-bottom: #F2F2F2 solid 4px;
       
    }
    li:hover {
       border-bottom: #0065FC solid 4px;
       padding-bottom: 30px;
    }
 
    .nav__link:hover {
        border-top: none;
    }
    /************ SEARCH & FILTERS*************************/
    .search h1 {
        font-size: 28px;
        text-align: center;
    }
    .search p {
        justify-content: center;
    }
    .search__bar {
        margin: 15px auto;
        justify-content: center;
    }
    .filter {
        gap: 25px;
        justify-content: center;
    }
    main {
        gap: 0px;
    }
    #details {
        justify-content: center;
    }
    /****ACCOMMODATION***********ARTICLE*************************/
    
    #accommodation {
        background-color: #fff;
    }
    .accommodations {
        flex-direction: column;
    }
    .accommodation-cards {
        width: 80%;
    }
 
    /****ACCOMMODATION**********ASIDE**************************/

    aside {
        border-radius: 0px;
        flex-direction: column;
    }
    .popular-title {
        justify-content: center;
    }
    .popular-cards {
        flex-direction: column;
    }
    .popular-images {
        width: 100%;
        height: 95px;
        border-radius: 20px 20px 0px 0px;
    }
    /*********SECTION************ACTIVITY********************/
    #activity {
        margin: 40px 15px 10px 15px;
    }
    /******FOOTER********************************************/
    .footer-col {
        margin-right: 100px;
        padding: 50px 0px;
    }
    
}

/****************** MOBILE -screen under 768px- ************************************************************/

    @media screen and (max-width: 768px) {
        .container {
            margin: 0px;
        }
        header {
            margin: 0;
            padding: 0;
            flex-direction: column;
        }
        .logo {
            padding: 20px;
            justify-content: center;
            text-align: center;
        }
        .nav {
            margin: 30px 0px;
            padding: 0;
            width: 100%;
        
        }
        ul {
            display: flex;
            justify-content: space-between;
            margin: 0;
            padding: 0;
            text-align: center;
        }
        li:hover {
            padding-bottom: 15px;
        }
        .nav__link {
       
            margin: 0px;
            padding: 0px;
           
        }
        .nav__link:hover {
           
            border-top: none;
        }
    /***** SEARCH & FILTERS ************************************************/
        
        .search {
            padding: 0;
        }
        .search h1 {
            margin: 10px 15px;
            line-height: 25px;
            padding: 0px 15px 0px 5px;
            font-size: 20px;
            text-align: unset;
        }
        .search p {
            font-size: 15px;
            margin: 0px 15px;
            padding-left: 5px;
            justify-content: start;
           
        }
        .search__bar {
            margin: 25px auto;
            display: flex;
        }
        .search__bar__location {
            width: 40px;
            font-size: 16px;
        }
        .search__bar input {
            margin: 0px;
            z-index: 1;
        }
        .search__bar button {
            border-radius: 15px; 
            width: 50px;
            height: 50px;   
            position: relative;
            left: -15px;
            z-index: 2;
        }
        .btn-desktop {
            display: none;
        }
        .btn-mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
        }
        .filter {
            justify-content: flex-start;
            gap: 15px;
            margin: 0px 15px;
        }
        .filters-group {
            gap: 10px;
            flex-wrap: wrap;
            align-content: flex-start;
            justify-content: start;
        }
        .filters p {
            width: 100%;
        }
  
        #details {
            margin: 0px 15px;
            gap: 10px;
            align-items: start;
            white-space: pre-line;
        }
       
        
        #details i {
            align-content: flex-start;
            width: 25px;
            height: 25px;
            padding: 10px;
            font-size: 12px;
            margin-top: -3px;
        }
    /************ACCOMMODATION **************** ARTICLE ***********************/
        main {
            flex-direction: column-reverse;
            padding:0px;
            margin: 0px;
        }
        #accommodation {
            border-radius: 0px;
            background-color: #fff;
        }
        #accommodation h2 {
            padding: 0px 0px 35px 20px;
        }
        .accommodations {
            flex:1;
            flex-direction: column;
            margin: 0;
            padding: 0;
            gap: 15px;
        }
        .accommodation-cards {
            padding: 5px;
            gap: 0;
            width: 90%;
        }
        .accommodation__image {
            height: 120px;
        }
        .accommodation__info {
            padding: 5px 15px;
        }
        #viewMore {
            margin: 60px 0px 30px  20px;
        }
    /*******ACCOMODATION ****************ASIDE****************************/
        aside h2 {
            margin: 35px 25px;
        }
        .popular-cards {
            flex-direction: row;
            margin-bottom: 10px;
        }
        .popular-images {
            height: 150px;
            width: 40%;
            border-radius: 20px 0px 0px 20px;
        }
        .popular-details {
            font-size: 14px;
        }
        .popular-info {
            font-size: 15px;
        }
        .popular-title {
            justify-content: space-between;
        }
    /***********ACTIVITY***************************************/

        #activity {
            margin: 20px 15px;
        }
        .activities{
            flex-direction: column;
            gap:25px;
            justify-content: center;
            align-items: center;
        }
        .activities-col {
            width: 95%;
            margin: 0;
            padding: 0;
            height: auto;
        }
        .oneblock .activity-image{
            height: 145px;
            width: 100%;
        }
        .twoblock {
            gap: 25px;
        }
        .activity-image {
            height: 145px;
        }
        #first-pic {
            height: 145px;
        }
        #second-pic {
            height: 145px;
        }
   /*****************FOOTER***********************************************/
        footer {
            flex-direction: column;
            padding: 40px 30px;
        }
        .footer-col:first-child {
            padding-left: 10px;
        }
        .footer-col {
            margin: 0;
            padding: 10px;
        }
    }